* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
    background: #ffffff url(../img/webb-dark.png) center center/auto repeat;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    height: 100vh;
    overflow-x: auto;
}
.logo {
    background-color: black;
    border-bottom: red solid 1px;
    width: 100%;
    /* height: 150%; */
    color: white;
    font-size: clamp(1.5em, 20vw, 4em);
    font-weight: bolder;
    text-align: center;
    /*border: white solid 10px;*/
    
    font-family: 'Ubuntu', sans-serif;
    /*border-radius: 50px 50px 50px 50px;*/
    margin: 0;
    padding: 15px 0 15px 0 ;
}
.logo a {
    text-decoration: none;
}
footer{
    width: 100%;
}
.footer {
    border-top: red solid 1px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    /* width: 100vw; */
}
.footer a{
    color: white;
    text-decoration: none;

}
.footer a:hover{
    text-decoration: underline;
}
section{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textinfo{
    color: white;
    font-size: 1.5em;
}
.rules{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5em;
    text-align: left;
    margin-top: 10px;
    
}
.input-container {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    scrollbar-width:none;
}

.input-row {
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="text"] {
    color: black;
    flex: 1;
    padding: 8px;
    font-size: 16px;
}
input[type="number"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
}
button {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
}

button.add-btn {
    width: 100%;
    background-color: #007bff;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
button.add-btn:hover {
    width: 95%;
    background-color: #3d9bff;
}

button.remove-btn {
    background-color: #ff4c4c;
}
button.remove-btn:hover {
    background-color: #f10909;
}
button.start-btn {
    width: 100%;
    font-weight: bolder;
    background-color: #00be20;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
button.start-btn:hover{
    background-color: #00ff0d;
    width: 95%;
}

.categories{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}
.category{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.category > input{
    margin-right: 5px;
}
.category > input:hover, .category > label:hover{
    cursor: pointer;
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
.timer{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 5em;
    color: #fbff1a;
    font-weight: bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    /* background-color: rgba(252, 235, 89, 0.54); */
    background-image: radial-gradient(circle, rgba(252, 235, 89, 0.54) 1%, rgba(41, 53, 86, 0) 25%);
    animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.wordshower{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3em;
}

.tabooshower{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.5em;
    color: #ff3232;
    font-weight: bold;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
.skipbutton{
    background-color: #ff4c4c;
    width: 100%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.skipbutton:hover{
    background-color: #f10909;
}
.nextWordButton{
    background-color: #00be20;
    width: 100%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.nextWordButton:hover{
    background-color: #00ff0d;
}

.nextbutton{
    background-color: #ff4c4c;
    width: 100%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.nextbutton:hover{
    background-color: #f10909;
    width: 95%;
    
}
.endroundbutton{
    background-color: #008cff;
    width: 100%;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.endroundbutton:hover{
    background-color: #006cc4;
    width: 95%;
    
}
/* Większe niz telefon */
@media (min-width: 768px) {
    .input-container {
        width: 50%;
    }
}